#services-container h1{
    line-height: 1;
}
#services{
    margin: 36px 34px ;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 22px;
    margin: 2px 4px;
    border-radius: 23px;
    background: #f2f2f2;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    font-size: 0.8rem;
}

.center{
    text-align: center;
}

.link{
    text-decoration: none;
    color: black;
}
