/* css reset */

body, html{
overflow-x: hidden;
}

/* navigation bar */

#navbar{
    flex-direction: column;
}  

#navbar ul li a{
        font-size: 1rem;
        padding:0px 7px;
}

/* home */

#home{
    height: 476px; 
    }
    
#home::before{
    height: 476px;
}

